body {
	margin: 0;
}

.nav {
	background-color: #2c3e50;
	padding: 15px;
	border-radius: 10px;
}
.nav a {
	color: white;
	padding: 10px;
}
div {
	box-sizing: border-box;
}
.bg_black {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	position: fixed;
	top: 0;
	right: 0;
}
.bg_white {
	width: 80%;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	margin: 20px auto;
}